.bordertransparent {

    border: 5px solid transparent;
    
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.linhahorizontal {
  padding: 10px;
}

.linhahorizontal2 {
  padding: 2.5px;
}

h5{
  	text-align: center;
  	top: 80%;
  	left: 48%;  
  } 
.msg{
  	text-align: center;
  	font-size: 15px;  
  	   color: #ff0000;
  	   background-color: #fff3cd;
  	   border-color: #ffecb5;
  	   
  	   
  } 
  
  body {
	background-color: #F8CEBA;
}

.container{
    max-width: 50%;  
}

#principal{
  margin:0 auto;
  border:#000000 1px solid;
  width:790px;
  height:1200px
}
  


.inputstl { 
    padding: 9px; 
    border: solid 1px #0077B0; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

    } 
.selcls { 
    padding: 9px; 
    border: solid 1px #517B97; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

    }  

input[type=file] {
    float: left;
    display: block;
}
.hide {
    display: none;
    float: left;
}

/* IMAGENS */

.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
padding: 3px;
background-color: #ffffff;
border: 2px solid #c9c8b8;
}

#imgsigesc{
	position: relative;
	padding-top: 10px; 
	padding-left: 15px; 
	width: 40%; 
}

#imgredesocial{
	position: relative;
	width: 35%; 
	left: 100px; 
	padding-top: 20px; 
}

/* CENTER */
div#rodape-texto{
	
	text-align: center;
	color: #888;
	padding-top: 5px;
		
}

center#boas-vindas {
	color: #888;
	padding-top: 15px;
}

center.top-titulo {
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 8px;
}

/* DIV */

div#usuarios{
	margin-left: 20px;
	padding-top: 20px;
	
}

div#sub-conteudo2{
	color: #888;
}

div#info-opcoes-tema-escolha{
	text-align: left;
	padding-top: 3px;
	padding-left: 20px;
	color: #888;
}

div#info-imagen {
	text-align: center;	
}

div#info-opcoes-tema{
	text-align: center;
	margin-left: 3px;
	padding-top: 10px;
}



div#info-texto {
	text-align: center;
	color: #888;
	margin-left: 5px;
	padding-top: 5px;
}

div#menu-links {
	color: #AAA;
	font: 14px verdana;
	padding-left: 15px;
	padding-top: 7px;
}

div#titulo {
	color: #369;
	font: bold 18px verdana;
	padding-left: 15px;
	padding-top: 40px;
}

div.top-items {
	padding-left: 10px;
}

/* SPAN */
span.info-texto-destaque {
	font-weight: bold;
}
.padraoText{
    
     
    background-color: #FAD8C7;
    
    
}
.azulText{
    
     
  	background-color:#ABB4FC;

    
}
.verdeText{
    
       
  	background-color: #9BFFD7;

    
}