h5{
  	text-align: center;
  	top: 80%;
  	left: 48%;  
  } 
.msg{
  	text-align: center;
  	font-size: 15px;  
  	   color: #ff0000;
  	   background-color: #fff3cd;
  	   border-color: #ffecb5;
  } 

body {
	background-color: #F8CEBA;
}

form{
     position: absolute;
     top: 20%;
     left: 41%;
     right: 41%;
  }   
.container{
    max-width: 50%;  
}